<!-- 
    FONT MATTER:

    type:       string - R (primary, secondary, success, danger, warning, info, dark or light)
    text:    string - R
-->

<div class="__alert alert alert-{{type}} alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
    {{{text}}}
</div>