<!--
FRONT MATTER:

title
name
value
-->
<div class="__quill_editor_container">

  <div class="__quill_editor_form_group form-group">
    <label>{{title}} (optional)</label>
  </div>

  <div id="__quill_editor">
    {{{value}}}
  </div>

  <textarea id="__quill_editor_hidden" name="{{name}}">{{value}}</textarea>

</div>
